@mixin flex ($flex, $direction, $jcontent, $aself, $width, $position) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-items: $aself;
    width: $width;
    position: $position;
}
.about{
    @include flex(flex, row, center, center,100vw,relative );
    height: 100vh;
    overflow: hidden;
    border: 1px solid green;
    color: #fff;
        .intro{
            // margin-top: 14%;
                .el-div{
                    height: 70px;
                    // min-width:300px;
                    // border: 1px solid blue;
                    overflow: hidden;
                    z-index: 20;
                }
                .para-div{
                    margin-top: 20px;
                    overflow: hidden;
                }
                h2{
                    // width: 200px;
                    font-size: 2em;
                        .name{
                            color: #4236eb;
                            font-weight: 900;
                        }
                        .hello{
                            font-size: .7em;
                        }
                }
                p{
                    width: 300px;
                    margin-top: 30px;
                    font-weight: 500;
                }
        }
        .about-rh{
            position: absolute;
            // border: none;
        }
        .sm{
            top: -20%;
            height: 300px;
            border-radius: 50%;
            border:70px solid #271a40;
            left: -8%;
            z-index: -1;
            width: 300px;
        }
        .md{
            border: 130px solid #100721;
            top: 40%;
            height: 500px;
            border-radius: 50%;
            right: -10%;
            z-index: -1;
            width: 500px;
        }
        .icons{
            @include flex(flex, column, space-between, none,30px,absolute );
            height: 150px;
            left: 18px;
            top: 72%;
                .icon{
                    color: #fff;
                }
        }
        .vert{
            height: 30%;
            width: 2px;
            background-color: #fff;
            top: 40%;
            left: 30px;
            position: absolute;
        }
}