@mixin flex ($flex, $direction, $jcontent, $aself, $width, $position) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-items: $aself;
    width: $width;
    position: $position;
}
.about{
    @include flex(flex, row, center, center,100vw,relative );
    overflow: hidden;
    color: #fff;
        .intro{
                .el-div{
                    height: 70px;
                    overflow: hidden;
                    z-index: 20;
                }
                .para-div{
                    overflow: hidden;
                }
                .h2-name{
                    max-width: 350px;
                    margin-top: 10px;
                    font-weight: 500;
                    color: white;
                    .name{
                        display: flex;
                        justify-content: space-around;
                        // -webkit-text-stroke: 2px #271a40;
                        font-size: 2em;
                        font-weight: 900;
                    }
                    .hello{
                        font-size: 1.2em;
                        display: block;
                        margin-bottom: 5px;
                    }
                }
                p.para{
                    max-width: 350px;
                    margin-top: 30px;
                    font-weight: 500;
                }
            .links{
                margin-top: 30px;
                @include flex(flex, row, center, center, 70%, relative);
                .project-btn, .writing-btn{
                    cursor: pointer;
                    padding: 5px 20px;
                    background-color: #271a40;
                    color: #fff;
                    border-radius: 5px;
                }
                .project-btn{
                    margin-right: 30px;
                }
            }
        }
        .about-rh{
            position: absolute;
        }
        .sm{
            top: -20%;
            height: 300px;
            border-radius: 50%;
            border:70px solid #271a40;
            left: -8%;
            z-index: -1;
            width: 300px;
        }
        .md{
            border: 130px solid #100721;
            top: 60%;
            height: 500px;
            border-radius: 50%;
            right: -10%;
            z-index: -1;
            width: 500px;
        }
        .icons{
            @include flex(flex, column, space-between, none,30px,absolute );
            height: 150px;
            left: 18px;
            top: 72%;
                .icon{
                    color: #fff;
                }
        }
        .vert{
            height: 30%;
            width: 2px;
            background-color: #fff;
            top: 40%;
            left: 30px;
            position: absolute;
        }
}

@media screen and (max-width:850px){
    .sm{
        top: -30% !important;
        left: -18% !important;

    }
    .md{
        top: 60% !important;
        right: -30% !important;
    }
}
@media screen and (max-width:600px){
    .about{
        padding-left: 10px;
    }
    .sm{
        top: -30% !important;
        left: -22% !important;

    }
    .hello{
        margin-left: 10px;
    }
    .name{
        font-size: 1.5em !important;
    }
    .md{
        top: 75% !important;
        right: -60% !important;
        border:100px solid #271a40 !important;
    }
    .icons{
        height: 100px !important;
        margin-top: 40px !important;
    }
    .links{
        width: 80% !important;
    }
}
@media screen and (max-width:350px){
    .sm{
        top: -30% !important;
        left: -22% !important;

    }
    .md{
        top: 80% !important;
        right: -70% !important;
        border:100px solid #271a40 !important;
    }
   .olu{
       display: block;
   }
   .name{
    font-size: 1.5em !important;
    }
}