.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.about .intro .el-div {
  height: 70px;
  overflow: hidden;
  z-index: 20;
}

.about .intro .para-div {
  overflow: hidden;
}

.about .intro .h2-name {
  max-width: 350px;
  margin-top: 10px;
  font-weight: 500;
  color: white;
}

.about .intro .h2-name .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2em;
  font-weight: 900;
}

.about .intro .h2-name .hello {
  font-size: 1.2em;
  display: block;
  margin-bottom: 5px;
}

.about .intro p.para {
  max-width: 350px;
  margin-top: 30px;
  font-weight: 500;
}

.about .intro .links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  position: relative;
}

.about .intro .links .project-btn, .about .intro .links .writing-btn {
  cursor: pointer;
  padding: 5px 20px;
  background-color: #271a40;
  color: #fff;
  border-radius: 5px;
}

.about .intro .links .project-btn {
  margin-right: 30px;
}

.about .intro .links .writing-btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
}

.about .about-rh {
  position: absolute;
}

.about .sm {
  top: -20%;
  height: 300px;
  border-radius: 50%;
  border: 70px solid #271a40;
  left: -8%;
  z-index: -1;
  width: 300px;
}

.about .md {
  border: 130px solid #100721;
  top: 60%;
  height: 500px;
  border-radius: 50%;
  right: -10%;
  z-index: -1;
  width: 500px;
}

.about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 30px;
  position: absolute;
  height: 150px;
  left: 18px;
  top: 72%;
}

.about .icons .icon {
  color: #fff;
}

.about .vert {
  height: 30%;
  width: 2px;
  background-color: #fff;
  top: 40%;
  left: 30px;
  position: absolute;
}

@media screen and (max-width: 850px) {
  .sm {
    top: -30% !important;
    left: -18% !important;
  }
  .md {
    top: 60% !important;
    right: -30% !important;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding-left: 10px;
  }
  .sm {
    top: -30% !important;
    left: -22% !important;
  }
  .hello {
    margin-left: 10px;
  }
  .name {
    font-size: 1.5em !important;
  }
  .md {
    top: 75% !important;
    right: -60% !important;
    border: 100px solid #271a40 !important;
  }
  .icons {
    height: 100px !important;
    margin-top: 40px !important;
  }
  .links {
    width: 80% !important;
  }
}

@media screen and (max-width: 350px) {
  .sm {
    top: -30% !important;
    left: -22% !important;
  }
  .md {
    top: 80% !important;
    right: -70% !important;
    border: 100px solid #271a40 !important;
  }
  .olu {
    display: block;
  }
  .name {
    font-size: 1.5em !important;
  }
}

.tech {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 20px;
  color: white;
}

.back-arrow i {
  font-size: 40px;
  width: 40px;
}

.h3 {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  list-style: none;
  pointer-events: none;
}

.lists li {
  width: 20%;
  translate: scaleY(0);
  background-color: black;
}

.project-grid {
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  justify-items: center !important;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.project-grid .card {
  max-width: 200px;
  min-height: 270px;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
          box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.project-grid .card .img-div {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}

.project-grid .card .img-div img {
  width: 100%;
  height: 100%;
}

.project-grid .card .descrip {
  margin-bottom: 10px;
  max-height: 150px;
}

.project-grid .card .descrip a {
  cursor: pointer;
}

.project-grid .card .descrip p:first-child {
  max-height: 80px;
  margin-bottom: 10px;
}

.project-grid .card .descrip p:nth-child(2) {
  font-style: italic;
  color: grey;
  height: 40px;
}

.project-grid .card .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-grid .card .nav-icons a i {
  color: #ffffff;
}

.project-grid .card .nav-icons a:nth-child(2) i {
  font-size: 30px;
  margin-left: 15px;
}

@media screen and (max-width: 750px) {
  .h3 {
    width: 90% !important;
    margin: 20px auto !important;
    text-align: center !important;
  }
  .card {
    margin-bottom: 70px !important;
  }
}

@media screen and (max-width: 450px) {
  .project-grid {
    width: 100%;
  }
  .card {
    max-width: 70% !important;
  }
  .img-div {
    height: 150px !important;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: black;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */