@mixin margins ($mag-right, $mag-left, $display) {
    display: $display;
    margin-left: $mag-left;
    margin-right: $mag-right;
};
@mixin shadow ($x-axis, $y-axis, $color, $spred){
    box-shadow: $x-axis $y-axis $color $spred;
}

header{
    @include margins( 0px, 0px, flex);
    @include shadow(0px, 5px, 40px, black);
    padding-top: 20px;
    color: white;
    nav{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    h3{
        @include margins(0px, 30px, block );
        width: 20%;
    }
    .navigations{
    list-style: none;
    @include margins(0px, auto, block);
    // width: 50%;
    padding: 0;
    li{
        @include margins(0px, 40px, inline-block);
        cursor: pointer;
    }
    }
}