@mixin margins ($mag-right, $mag-left, $display) {
    display: $display;
    margin-left: $mag-left;
    margin-right: $mag-right;
};

.tech{
    @include margins(40px, 30px, block);
    width: 600px;
    height: 500px;
}
