@mixin margins ($mag-right, $mag-left, $display) {
    display: $display;
    margin-left: $mag-left;
    margin-right: $mag-right;
};

.tech{
    @include margins(40px, 30px, block);
    border: 1px solid blue;
    height: 400px;
}

@keyframes hide {
    0% {
      display: block;
      opacity: 1;
    }
    99% {
      display: block;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }